<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<ul>
    <li><strong>Name: </strong>{{animalType}}</li>
    <li><strong>Is a pet: </strong>{{pet}}</li>
    <li><strong>Fierceness: </strong>{{fierceness}}</li>
</ul>