/****************************************************************************
 ****************************************************************************
    
    Default stylesheet
    
*****************************************************************************
*****************************************************************************/
:root {
    /* Define color scheme */
    --color-background    : #f0f2f0;
    --color-light-brown   : #ebd9a3;
    --color-light-blue    : #78b6ed;
    --color-dark-blue     : #3773a8;
    --color-text          : #202020;
    --color-text-contrast : #f9f6e3;
    --color-text-highlight: #ff6600;
}

body, input {
    background-color: var(--color-background);
    color           : var(--color-text);
    font-family     : "Quicksand", sans-serif;
    font-size       : 20px;
}

.container {
    width  : 840px;
    margin : auto;
    padding: 2.5% 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1 {
    color         : var(--color-dark-blue);
    font-family   : "Shadows Into Light", cursive;
    font-size     : 3.2em;
    font-weight   : bold;
    letter-spacing: 0.08em;
    text-align    : center;

    margin-bottom : 0.65em;
}

h2 {
    color         : var(--color-text-highlight);
    font-size     : 1.8em;
    font-weight   : bold;
    letter-spacing: 0.04em;
    
    margin-bottom : 0.85em;
}

p {
    letter-spacing: 0.03em;
    line-height   : 1.5em;
    
    margin-bottom : 3%;
}


/* Page selection */
#schedule, #search {
    margin-bottom: 2.5em;
}

.leftPane {
    float: left;
    width: 48%;
}

.rightPane {
    float: right;
    width: 48%;
}


/* Table */
table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: var(--color-text-contrast);
}

tr:nth-child(odd) {
    background-color: var(--color-light-brown);
}

th {
    background-color: var(--color-dark-blue);
    color           : var(--color-text-contrast);
    
    width           : 18%;
    padding         : 2% 1%;
    border-right    : 1px solid var(--color-text-contrast);
    border-bottom   : 2px solid var(--color-text-contrast);
}

th:last-child {
    border-right: none;
}

td {
    font-size       : 0.9em;
    width           : 18%;
    padding         : 1.25% 1%;
    border-right    : 1px solid var(--color-text-contrast);
}

td:last-child {
    border-right: none;
}


/* Submission */
label {
    display      : block;
    margin-bottom: 0.5em;
}

input {
    background-color: white;
    
    display         : block;
    width           : 94%;
    padding         : 2% 3%;
    margin-bottom   : 1em;
}

#button_add, #button_delete, #button_edit {
    background-color: var(--color-light-blue);
    color           : var(--color-text-contrast);
    font-family     : "Quicksand", sans-serif;
    font-size       : 1.15em;
    font-weight     : bold;
    letter-spacing  : 0.03em;
    text-align      : center;

    margin-top      : 3%;
    border          : 4px solid var(--color-dark-blue);
    padding         : 2% 5%;
}

#button_add {
    float: right;
}

#button_delete {
    display: none;
    float  : right;
}

#button_edit {
    display    : none;
    float      : right;
    margin-left: 4%;
}