<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Make-a-Wish</title>

        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">

        <style>
            body {
                background-color: #f0f2f0;
                font-family     : "Cedarville Cursive", cursive;
                font-size       : 32px;
            }

            .container {
                width : 840px;
                margin: auto;
            }

            h1 {
                text-align: center;
            }

            textarea {
                font-family: "Cedarville Cursive", cursive;
                font-size  : 32px;
                width      : 100%;
            }

            button {
                font-size: 32px;
                width    : 25%;
            }
        </style>
	</head>
	<body>
        <div class="container">
    		{{{body}}}
        </div>
	</body>
</html>