<div class="container">
    <h2>Place an order</h2>

    <form action="/burgers" method="POST">
        <div class="form-group row py-3">
            <label for="name" class="col-xs-12 col-md-3 col-form-label"><strong>Burger name</strong></label>
            <div class="col-xs-12 col-md-9">
                <input type="text" class="form-control form-control-lg" id="name" required>
                <div class="form-control-feedback"></div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-lg mt-4 mb-3 px-5 pt-3" id="button_submit">Submit</button>
        </div>
    </form>

    <div class="row">
        <!-- Burgers to be eaten -->
        <div class="col-xs-12 col-md-6">
            {{#each burgers}}
                {{#unless this.devoured}}
                    <div class="burger_uneaten">{{this.name}}</div>
                {{/unless}}
            {{/each}}
        </div>

        <!-- Burgers finished -->
        <div class="col-xs-12 col-md-6">
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="burger_eaten">{{this.name}}</div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>