<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2>Add a burger:</h2>

            <form action="/" method="POST">
                <div class="form-group py-3">
                    <label for="name"><strong>Burger name</strong></label>
                    <input type="text" class="form-control form-control-lg" id="name" name="burger_name" required>
                    <div class="form-control-feedback"></div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-lg mt-4 mb-3 px-5 pt-3" id="button_submit">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-md-4">
            <h2>Haven't eaten:</h2>

            {{#each burgers}}
                {{#unless this.devoured}}
                    <form action="/{{this.id}}?_method=PATCH" method="POST">
                        <button class="btn btn-warning burgers_not_devoured my-2" type="submit">{{this.name}}</button>
                    </form>
                {{/unless}}
            {{/each}}
        </div>

        <div class="col-xs-12 col-md-4">
            <h2>Have eaten:</h2>

            {{#each burgers}}
                {{#if this.devoured}}
                    <form action="/{{this.id}}?_method=DELETE" method="POST">
                        <button class="btn btn-success burgers_devoured my-2" type="submit">{{this.name}}</button>
                    </form>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>