async_solution/node_modules
async_solution/package-lock.json

movie_planner/node_modules
movie_planner/package-lock.json

mvc_example/node_modules
mvc_example/package-lock.json

orm_example/node_modules
orm_example/package-lock.json

party_database/node_modules
party_database/package-lock.json

quotes_app/node_modules
quotes_app/package-lock.json