body {
    margin          : 0;
    padding         : 0;

    background-color: #efeee7;
    color           : #333;
    font-family     : Georgia, "Times New Roman", Times, serif;
    font-size       : 18px;
    line-height     : 150%;
}

header {
    background-color: #333;
}

h1 {
    margin       : 0;
    margin-bottom: 50px;
    padding      : 20px;

    color        : #eee;
    font-size    : 28px;
    text-align   : center;
}

h2 {
    font-size: 24px;
}

p {
    line-height: 1.5em;
}

a {
    color: #d21034;
}

div.container {
    width : 1024px;
    margin: 0 auto;
}

#main-bio, #bio-image, #contact-info {
    float: left;
}

#main-bio {
    width: 70%;
}

#bio-image {
    width       : 200px;
    margin-right: 20px;
}

#contact-info {
    width: 30%;
}