<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		<title>Quotes App</title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>