:root {
    /* Define color scheme */
    --color-background    : #f0f2f0;
    --color-light-yellow  : #f7e739;
    --color-light-blue    : #78b6ed;
    --color-dark-blue     : #3773a8;
    --color-text          : #202020;
    --color-text-contrast : #f9f6e3;
    --color-text-highlight: #ff6600;
}

body {
    background-color: var(--color-background);
    color           : var(--color-text);
    font-family     : "Quicksand", sans-serif;
    font-size       : 30px;
}

.container {
    width  : 740px;
    margin : auto;
    padding: 60px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1 {
    color        : var(--color-dark-blue);
    font-family  : "Montserrat Subrayada", sans-serif;
    font-size    : 2.8em;
    font-weight  : bold;
    text-align   : center;
    text-shadow  : 0 3px 6px var(--color-light-yellow),
                   0 6px 8px var(--color-light-blue);

    margin-bottom: 0.8em;
}

h2, .category {
    color         : var(--color-text-highlight);
    font-size     : 1.5em;
    font-weight   : bold;
    letter-spacing: 0.04em;
    
    margin-bottom : 0.8em;
}

p {
    letter-spacing: 0.03em;
    line-height   : 1.5em;
    
    margin-bottom : 3%;
}

/* Page selection */
.page {
    display: none;
}

.page_prev, .page_next, #button_submit {
    background-color: var(--color-light-blue);
    color           : var(--color-text-contrast);
    font-family     : "Quicksand", sans-serif;
    font-size       : 1.15em;
    font-weight     : bold;
    letter-spacing  : 0.03em;
    text-align      : center;

    margin-top      : 4.5%;
    border          : 5px solid var(--color-dark-blue);
    padding         : 3% 6%;
}

.page_prev {
    float: left;
}

.page_next {
    float: right;
}

/* Questions */
#quizForm {
    position: relative;
}

#question {
    width: 80%;
}

.container_fixed {
    position: absolute;
    top     : 0;
    right   : 17%;
}

#timer {
    animation     : none;
    font-size     : 2.25em;
    font-weight   : bold;
    text-align    : center;

    position      : fixed;
    width         : 1.6em;
    margin-top    : 0.2em;
    border        : 0.09em solid var(--color-text-highlight);
    border-radius : 4px;
    padding-top   : 0.25em;
    padding-bottom: 0.25em;
}

.questions {
    margin-bottom: 2.5em;
}

.category {
    margin-bottom: 0.5em;
    border-bottom: 4px double black;
}

.prompt {
    margin       : 0.8em 0;
    padding      : 0.5em;
    border-bottom: 4px double black;
}

.choices {
    margin       : 0.2em 0;
    padding      : 0.6em 0.5em;
    border-radius: 0.2em;
}

.choices:hover {
    background-color: var(--color-light-blue);
    color           : var(--color-text-contrast);
}

#button_submit {
    font-size     : 1.6em;
    letter-spacing: 0.04em;

    display       : block;
    border-width  : 10px;
}

/* Animation */
@keyframes slide_down_and_fade {
    0% {
        opacity  : 1;
    }

    100% {
        opacity  : 0;
        transform: translate(0, 15px);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(-1px, -2px);
    }
    
    20%, 80% {
        transform: translate(2px, 4px);
    }
    
    30%, 50%, 70% {
        transform: translate(0, -6px);
    }
    
    40%, 60% {
        transform: translate(-1px, 6px);
    }
}