:root {
    /* Define color scheme */
    --color-background    : #000000;
    --color-light-yellow  : #f7e739;
    --color-dark-yellow   : #beb250;
    --color-text          : #202020;
    --color-text-highlight: #ff6600;
}

body {
    color      : var(--color-text);
    font-family: "Amiri", cursive;
    font-size  : 30px;
}

.container {
    width  : 740px;
    margin : auto;
    padding: 60px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1 {
    color         : var(--color-light-yellow);
    font-family   : "Bungee", cursive;
    font-size     : 2em;
    letter-spacing: 0.02em;
    text-align    : center;

    margin-bottom : 0.8em;
}

h2, .category {
    color         : var(--color-text-highlight);
    font-size     : 1.5em;
    letter-spacing: 0.01em;
    
    margin-bottom : 0.8em;
}

p {
    letter-spacing: 0.015em;
    line-height   : 1.3em;
    
    margin-bottom : 3%;
}

/* Page selection */
.page {
    display: none;
}

.page_prev, .page_next {
    background-color: var(--color-light-yellow);
    color           : var(--color-background);
    font-family     : "Bungee", cursive;
    font-size       : 1.15em;
    font-weight     : bold;

    margin-top      : 4.5%;
    border          : 6px solid var(--color-dark-yellow);
    padding         : 3% 6%;
}

.page_prev {
    float: left;
}

.page_next {
    float: right;
}

/* Questions */
#question, #answer {
    float: left;
    width: 80%;
}

#timer {
    animation     : none;
    font-size     : 2.5em;
    text-align    : center;

    float         : right;
    width         : 15%;
    margin-top    : 0.2em;
    border        : 0.08em solid var(--color-text-highlight);
    padding-top   : 0.3em;
    padding-bottom: 0.15em;
}

.category {
    margin-bottom: 0.5em;
    border-bottom: 4px double black;
}

.prompt {
    margin       : 0.8em 0;
    padding      : 0.5em;
    border-bottom: 4px double black;
}

.choices {
    margin : 0.2em 0;
    padding: 0.6em 0.5em;
}

.choices:hover {
    background-color: var(--color-light-yellow);
    border-radius   : 0.2em;
}

/* Animation */
@keyframes slide_down_and_fade {
    0% {
        opacity  : 1;
    }

    100% {
        opacity  : 0;
        transform: translate(0, 15px);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(-1px, -2px);
    }
    
    20%, 80% {
        transform: translate(2px, 4px);
    }
    
    30%, 50%, 70% {
        transform: translate(0, -6px);
    }
    
    40%, 60% {
        transform: translate(-1px, 6px);
    }
}