:root {
    /* Define color scheme */
    --color-mint-green    : #4aaaa5;
    --color-light-green   : #d7f4f2;
    --color-danger-red    : #c81a4c;
    --color-text          : #202020;
    --color-text-highlight: #ff6600;
}

body {
    color      : var(--color-text);
    font-family: "Architects Daughter", cursive;
    font-size  : 30px;
}

.container {
    width  : 520px;
    margin : auto;
    padding: 60px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1 {
    color         : var(--color-mint-green);
    font-family   : "The Girl Next Door", cursive;
    font-size     : 1.8em;
    font-weight   : bold;
    letter-spacing: 0.02em;
    text-align    : center;

    margin-bottom : 6%;
}

@-moz-document url-prefix() {
h1 {
    letter-spacing: 0;
}
}

h2 {
    color         : var(--color-text-highlight);
    font-size     : 1.3em;
    letter-spacing: 0.01em;

    margin-bottom : 3%;
}

p {
    letter-spacing: 0.015em;
    line-height   : 1.3em;

    margin-bottom : 3%;
}

p strong {
    color      : var(--color-text-highlight);
    font-weight: bold;
}

#targetSum {
    font-weight    : bold;
    text-decoration: underline;
}

img {
    background-color: var(--color-light-green);
    
    float           : left;
    width           : 21%;
    margin          : 5% 1% 0 1%;
    padding         : 1%;
}


/* Specific to pages */
.page {
    display: none;
}

.page_prev, .page_next {
    background-color: var(--color-mint-green);
    color           : white;

    margin-top      : 3%;
    border          : 4px solid var(--color-text);
    padding         : 3% 5%;
}

.page_prev {
    float: left;
}

.page_next {
    float: right;
}

#userStats p {
    float        : left;
    width        : 50%;
    margin-bottom: 7.5%;
}

.crystals {
    margin-bottom: 5%;
}


/* Specific to lightbox */
#lightBox_background {
    display : none;
    opacity : 0;

    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

#lightBox {
    display    : none;
    
    position   : fixed;
    top        : 22.5%;
    left       : 50%;
    width      : 460px;
    margin-left: -260px;
    padding    : 75px 30px;
}

#lightBox p {
    color      : #fff;
    font-size  : 1.15em;
    line-height: 1.5em;
    text-align : center;
}

#lightBox {
  animation: slide_down 0.80s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes slide_down {
    0% {
        transform: translate(0, -15px);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(-1px, -2px);
    }
    
    20%, 80% {
        transform: translate(2px, 4px);
    }
    
    30%, 50%, 70% {
        transform: translate(0, -6px);
    }
    
    40%, 60% {
        transform: translate(-1px, 6px);
    }
}