animals/node_modules
animals/package-lock.json

ben_and_jerry/node_modules
ben_and_jerry/package-lock.json

lunch/node_modules
lunch/package-lock.json

task_saver/node_modules
task_saver/package-lock.json