/****************************************************************************
 ****************************************************************************
    
    Default stylesheet
    
*****************************************************************************
*****************************************************************************/
:root {
    /* Define color scheme */
    --color-background    : #f0f2f0;
    --color-light-yellow  : #f7e739;
    --color-light-blue    : #78b6ed;
    --color-dark-blue     : #3773a8;
    --color-text          : #202020;
    --color-text-contrast : #f9f6e3;
    --color-text-highlight: #ff6600;
}

body, input {
    background-color: var(--color-background);
    color           : var(--color-text);
    font-family     : "Quicksand", sans-serif;
    font-size       : 20px;
}

.container {
    width  : 840px;
    margin : auto;
    padding: 2.5% 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1 {
    color        : var(--color-dark-blue);
    font-family  : "Montserrat Subrayada", sans-serif;
    font-size    : 4.2em;
    font-weight  : bold;
    text-align   : center;
    text-shadow  : 0 3px 6px var(--color-light-yellow),
                   0 6px 8px var(--color-light-blue);

    margin-bottom: 0.65em;
}

h2 {
    color         : var(--color-text-highlight);
    font-size     : 1.8em;
    font-weight   : bold;
    letter-spacing: 0.04em;
    
    margin-bottom : 1em;
}

p {
    letter-spacing: 0.03em;
    line-height   : 1.5em;
    
    margin-bottom : 3%;
}

input {
    background-color: white;
    font-size       : 1.2em;

    display         : block;
    width           : 96%;
    margin-bottom   : 8%;
    padding         : 3% 2%;
}

#leftPane {
    float: left;
    width: 60%;
}

#rightPane {
    float: right;
    width: 33%;
}

#results, #history, #search {
    margin-bottom: 2em;
}

#button_search {
    background-color: var(--color-light-blue);
    color           : var(--color-text-contrast);
    font-family     : "Quicksand", sans-serif;
    font-size       : 1.3em;
    font-weight     : bold;
    letter-spacing  : 0.03em;
    text-align      : center;
    
    width           : 88%;
    margin-top      : 4.5%;
    border          : 3px solid var(--color-dark-blue);
    padding         : 3% 6%;
}

#searchHistory div {
    font-size: 1.15em;

    float    : left;
    margin   : 0 3% 3% 0;
    border   : 1px solid gray;
    padding  : 3%;
}

.image_container {
    float   : left;
    position: relative;
    width   : 31%;
    margin  : 0 3.5% 2.55em 0;
}

.image_container:nth-of-type(3n) {
    margin-right: 0;
}

.image_container img {
    width: 100%;
}

.image_container span {
    background-color: var(--color-light-blue);
    color           : var(--color-text-contrast);

    position        : absolute;
    width           : 90%;
    left            : 0;
    bottom          : -1.65em;
    padding         : 0.4em 5%;
}