<div class="row">
    <div class="col s12 l10 offset-l1 xl8 offset-xl2">
        <div class="neotech-separator-3"></div>

        <h1>About</h1>
    
        <p>Can't access NeoGAF at work? No problem!</p>

        <p>NeoTECH lets you check new threads and post comments in discreet. Your employers will think you are eager to catch up on the latest tech!</p>

        <div class="neotech-separator-3"></div>
    </div>
</div>