/****************************************************************************
 ****************************************************************************
    
    Default stylesheet
    
*****************************************************************************
*****************************************************************************/
:root {
    /* Define color scheme */
    --color-background    : #f0f2f0;
    --color-light-brown   : #ebd9a3;
    --color-light-blue    : #78b6ed;
    --color-dark-blue     : #3773a8;
    --color-text          : #202020;
    --color-text-contrast : #f9f6e3;
    --color-text-highlight: #ff6600;
}

body, input {
    background-color: var(--color-background);
    color           : var(--color-text);
    font-family     : "Quicksand", sans-serif;
    font-size       : 18px;
}

.container {
    width  : 840px;
    margin : auto;
    padding: 2.5% 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1 {
    color         : var(--color-dark-blue);
    font-family   : "Encode Sans Condensed", sans-serif;
    font-size     : 3.2em;
    font-weight   : bold;
    letter-spacing: 0.08em;
    text-align    : center;

    margin-bottom : 0.65em;
}

h2 {
    color         : var(--color-text-highlight);
    font-size     : 1.8em;
    font-weight   : bold;
    letter-spacing: 0.04em;
    
    margin-bottom : 0.85em;
}

p {
    font-size     : 1.2em;
    letter-spacing: 0.03em;
    line-height   : 1.5em;
    
    margin-bottom : 3%;
}

#login {
    width  : 33%;
    margin : auto;
    padding: 12% 14%;
    border : 2px double gray;
}

label {
    display      : block;
    margin-top   : 2em;
    margin-bottom: 1em;
}

input {
    background-color: white;
    
    display         : block;
    width           : 94%;
    padding         : 2% 3%;
    margin-bottom   : 2em;
}

#button_submit {
    background-color: var(--color-light-blue);
    color           : var(--color-text-contrast);
    font-family     : "Quicksand", sans-serif;
    font-size       : 1.15em;
    font-weight     : bold;
    letter-spacing  : 0.03em;
    text-align      : center;
    
    width           : 90%;
    border          : 3px solid var(--color-dark-blue);
    padding         : 4% 4.5%;
}

.players {
    width : 48%;
    border: 1px red solid;
}

#player0 {
    float: left;
}

#player1 {
    float: right;
}

.display > div {
    margin       : auto;
    margin-bottom: 3%;
    border       : 1px black solid;
    padding      : 3%;

    font-size    : 1.2em;
    text-align   : center;
}