<div id="mai-device-detector"></div>

<!-- Signup -->
<div id="mai-signup" class="row mai-index mai-vertical-align-wrapper">
    <div class="col s12 m10 offset-m1 l7 offset-l4 xl5 offset-xl4">
        <div class="row">
            <div class="col s10 offset-s1">
                <h1 class="brand-logo mai-attacher-1"><img class="responsive-img" src="assets/images/mai.png" alt="Mai logo">Mai</h1>
                <p>Everyone has a story to tell.</p>
            </div>

            <div class="col s10 offset-s1">
                <form id="mai-form-signup" action="/api/signup" method="POST">
                    <div class="input-field">
                        <label for="mai-fullname" class="blue-grey-text text-darken-2">Full name</label>
                        <input type="text" name="fullname" id="mai-fullname" class="validate" required>
                    </div>

                    <div class="input-field">
                        <label for="mai-email" class="blue-grey-text text-darken-2">Email</label>
                        <input type="text" name="email" id="mai-email" class="validate" required>
                    </div>

                    <div class="input-field">
                        <label for="mai-username" class="blue-grey-text text-darken-2">Username</label>
                        <input type="text" name="username" id="mai-username" class="validate" required>
                    </div>

                    <div class="input-field">
                        <label for="mai-password" class="blue-grey-text text-darken-2">Password</label>
                        <input type="password" name="password" id="mai-password" class="validate" required>
                    </div>

                    <div class="mai-separator-2"></div>

                    <button type="submit" class="btn-large waves-effect waves-light" title="Click to sign up.">Sign up</button>
                </form>

                <div class="mai-separator-2"></div>
            </div>

            <div class="col s10 offset-s1">
                <a href="javascript:displayLogin();">Have an account? Log in.</a>

                <div class="mai-separator-3"></div>
            </div>
        </div>
    </div>
</div>

<!-- Login -->
<div id="mai-login" class="row mai-index mai-vertical-align-wrapper">
    <div class="col s12 m10 offset-m1 l7 offset-l4 xl5 offset-xl4">
        <div class="row">
            <div class="col s10 offset-s1">
                <h1 class="brand-logo black-text mai-attacher-1"><img class="responsive-img" src="assets/images/mai.png" alt="Mai logo">Mai</h1>
                <p class="black-text">Hear them out.</p>
            </div>

            <div class="col s10 offset-s1">
                <form id="mai-form-login" action="/api/login" method="POST">
                    <div class="input-field">
                        <label for="mai-login-username" class="blue-grey-text text-darken-2">Username</label>
                        <input type="text" name="username" id="mai-login-username" class="validate" required>
                    </div>

                    <div class="input-field">
                        <label for="mai-login-password" class="blue-grey-text text-darken-2">Password</label>
                        <input type="password" name="password" id="mai-login-password" class="validate" required>
                    </div>

                    <div class="mai-separator-2"></div>

                    <button type="submit" class="btn-large waves-effect waves-light" title="Click to log in.">Log in</button>
                </form>

                <div class="mai-separator-2"></div>
            </div>

            <div class="col s10 offset-s1">
                <a href="javascript:displaySignup();">Don't have an account? Sign up.</a>

                <div class="mai-separator-3"></div>
            </div>
        </div>
    </div>
</div>

<!-- Video -->
<video class="hide-on-med-and-down cover_video" src="assets/videos/cinema_paradiso.mp4" autoplay loop></video>