<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Homework 14 for UT Coding Boot Camp">
        <meta name="author" content="Isaac J. Lee">
        <title>NeoTECH</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/favicon.ico">

        <!-- Import fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display+SC" rel="stylesheet">

        <!-- Import Materialize -->
        <link type="text/css" rel="stylesheet" href="assets/css/materialize/materialize.min.css" media="screen,projection">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    </head>
    <body class="blue-grey lighten-5">
        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="/" class="brand-logo orange-text text-darken-3">NeoTECH</a>
                <a href="#" data-activates="neotech-menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

                <!-- Desktop -->
                <ul class="right hide-on-med-and-down" id="neotech-menu-desktop">
                    <li><a class="neotech-menu-items-desktop" href="/">Home</a></li>
                    <li><a class="neotech-menu-items-desktop" href="/api/scrape">Scrape Threads</a></li>
                    <li><a class="neotech-menu-items-desktop" href="/about">About</a></li>
                </ul>

                <!-- Mobile -->
                <ul class="side-nav" id="neotech-menu-mobile">
                    <li><a class="neotech-menu-items-mobile" href="/">Home</a></li>
                    <li><a class="neotech-menu-items-mobile" href="/api/scrape">Scrape Threads</a></li>
                    <li><a class="neotech-menu-items-mobile" href="/about">About</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            {{{body}}}
        </div>

        <div class="fixed-action-btn">
            <a id="neotech-image" class="btn-floating btn-large teal lighten-2" title="Click to hide images."><i class="material-icons">image</i></a>
        </div>

        <footer class="page-footer footer-copyright grey darken-4">
            <div class="container">
                <div class="center-align">
                    Copyright © 2017 by <a href="https://www.linkedin.com/in/ijlee2/" target="_blank" class="teal-text text-lighten-5">Isaac J. Lee</a>, all rights reserved.

                    <div class="neotech-separator-2"></div>
                </div>
            </div>
        </footer>

        <!-- Import jQuery before materialize.js -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/javascript/materialize/materialize.min.js"></script>

        <!-- Custom JavaScript -->
        {{#each customJavascript}}
        <script type="text/javascript" src="assets/javascript/{{this}}.js"></script>
        {{/each}}
    </body>
</html>